{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="text-warning mt-5 mx-5 border-bottom">
		<h1>Achivements </h1>
	</div>
<div class="text-white mt-3 mx-5">
	<li>Golden Star on HackerRank in Python</li><br>
	<li>HackerRank Python(Basics) Certificate</li><br>
	<li>Google CodeJam 2021 Qualification Round Certificate</li><br>
	<li>Winner of some coding contests</li><br>
</div>
<div class="text-warning mt-5 mx-5 border-bottom">
		<h1>Profile Links</h1>
	</div>
	<div class="text-white mt-3 mx-5">
	<li><a href="https://www.hackerrank.com/harshdubey8225">HackerRank</a></li><br>
	<li><a href="https://codingcompetitions.withgoogle.com/codej
am/certificate/summary/00000000004360f1
">Google CodeJam</a></li><br>
	<li><a href="https://www.linkedin.com/in/harsh-dubey1/
">Linkdin</a></li><br>
</div>


{% endblock content%}